
<p><a href="#/dashboard">Dashboard</a>  | <a href="#/">Logout</a></p>
<h2>What does HTML Stand for?</h2>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Awnser:</label>
    <select class="col-sm-4" ng-model="newTopic.category">
      <option value="Pick Awnser Below..">Pick Awnser..</option>
      <option value="HTML">Hyper Text Markup Language</option>
      <option value="MySQL">MySQl</option>
      <option value="Ruby on Rails">Ruby on Rails</option>
      <option value="JavaScript">JavaScript</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-success col-md-1 col-md-offset-5" ng-click="createTopic(newTopic, user)">Awnser</button>
  </div>
</form>
</div>

<h2>What is the needed meta for HTML?</h2>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Awnser:</label>
    <select class="col-sm-4" ng-model="newTopic.category">
      <option value="Pick Awnser Below..">Pick Awnser..</option>
      <option value="HTML">utf-8</option>
      <option value="MySQL">MySQl</option>
      <option value="Ruby on Rails">Ruby on Rails</option>
      <option value="JavaScript">JavaScript</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-success col-md-1 col-md-offset-5" ng-click="createTopic(newTopic, user)">Awnser</button>
  </div>
</form>
</div>

<h2>What is needed at the top of every HTML page?</h2>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Awnser:</label>
    <select class="col-sm-4" ng-model="newTopic.category">
      <option value="Pick Awnser Below..">Pick Awnser..</option>
      <option value="HTML">!DOCTYPE</option>
      <option value="MySQL">MySQl</option>
      <option value="Ruby on Rails">Ruby on Rails</option>
      <option value="JavaScript">JavaScript</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-success col-md-1 col-md-offset-5" ng-click="createTopic(newTopic, user)">Awnser</button>
  </div>
</form>
</div>
